* {
    box-sizing: border-box;
}

.body {
    background-image: url("../../image/background2.jpg");
}

.info {
    margin-top: 2%;
    height: 10%;
    margin-left: 6%;
    margin-right: 1%;
}

.info:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 10%;
    height: 100%;
    margin-right: 1%;
}

.icon {
    position: relative;
    height: 143.7%;
}

.course-name {
    float: left;
    padding-bottom: 1%;
    width: 61%;
    margin-right: 3%;
}

.course-name-text {
    width: 100%;
    position: relative;
    height: 143.7%;
}

.log-out {
    float: left;
    padding: 1%;
    width: 25%;
    margin-top: 0.7%;
}

.log-out-button {
    background-color: whitesmoke;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 3px solid transparent;
    display: inline-block;
    cursor: pointer;
    color: #610061;
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    padding: 2%;
    text-decoration: none;
    width: 100%;
}

button:hover span {
    display: none;
}

.log-out-button:hover {
    transform: scale(1.1);
}

.log-out-button:hover::after {
    content: "Log Out";
}

.title {
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
    font-family: cursive;
    font-size: 2.5vw;
    font-weight: bold;
    height: 7%;
    padding-top: 1%;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 1%;
}

.main {
    margin-left: 6%;
    margin-top: 2%;
    height: 68%;
    color: whitesmoke;
    font-family: cursive;
    font-size: 1.5vw;
    font-weight: bold;
}

.form {
    height: 100%;
    width: 28%;
    margin-right: 4%;
    float: left;
    position: relative;
}

input[type=text] {
    margin-top: 2%;
    height: 10%;
    width: 80%;
}

.button {
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 0;
    background-color: #55076f;
    border: 0;
    color: whitesmoke;
    font-size: 1.5vw;
    cursor: pointer;
    height: 10%;
    width: 80%;
}

.button:hover, .button:active, .button:focus {
    background-image: radial-gradient(#990099, #730099, #800080);
}
